<section [appPlaceBorderHiglight]="todoItem.creationDate">
  <div class="form-row">
    <div class="form-group col-md-8">
      <p class="item.video.course.one.name"
         [textContent]="todoItem.title | uppercase"></p>
    </div>
    <div class="form-group col-md-2">
      <p class="item.video.course.one.name"
         [textContent]="todoItem.creationDate | date"></p>
    </div>
    <div class="form-group col-md-2">
      <p class="item.video.course.one.name"
         [textContent]="todoItem.duration | durationPipe"></p>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-8">
      <p>{{todoItem.description | lowercase}}</p>
    </div>
    <div class="form-group col-md-2">
      <button type="button"
              class="btn btn-outline-dark remove.button"
              (click)="remove()">Delete</button>
    </div>
    <div class="form-group col-md-2">
      <button type="button"
              class="btn btn-outline-dark"
              (click)="remove()">Edit</button>
    </div>
  </div>

</section>
