<section class="item.rectangle">
  <div class="form-row">
    <div class="form-group col-md-3">
      <p class="item.video.course.one.name"
         [textContent]="todoItem.title"></p>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-8">
      <p class="item.learn.about.where.yo">{{todoItem.description}}</p>
    </div>
    <div class="form-group col-md-2">
      <button type="button"
              class="btn btn-outline-dark remove-button"
              (click)="remove()">Delete</button>
    </div>
    <div class="form-group col-md-2">
      <button type="button"
              class="btn btn-outline-dark edit-button"
              (click)="remove()">Edit</button>
    </div>
  </div>

</section>
