<section [appPlaceBorderHiglight]="todoItem.creationDate">
  <div class="form-row">
    <div class="form-group col-md-8">
      <p class="item.video.course.one.name"
         [textContent]="todoItem.title"></p>
    </div>
    <div class="form-group col-md-2">
      <p class="item.video.course.one.name"
         [textContent]="todoItem.creationDate | date"></p>
    </div>
    <div class="form-group col-md-2">
      <p class="item.video.course.one.name"
         [textContent]="todoItem.duration | durationPipe"></p>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-8">
  <!--     <p>{{todoItem.description | lowercase}}</p> -->
    <p>{{todoItem.description}}</p>
    </div>
    <!-- <div class="form-group col-md-2">
      <button type="button"
              class="btn btn-outline-dark remove.button"
              (click)="remove()">Delete</button>
    </div> -->
    <div class="form-group col-md-2">
      <button type="button"
              class="btn btn-outline-dark remove.button"
              (click)="openModuleModal(content)">Delete</button>
    </div>

    <div class="
              form-group
              col-md-2">
      <button type="button"
              class="btn btn-outline-dark"
              (click)="edit()">Edit</button>
    </div>
  </div>

</section>

<ng-template #content
             let-modal>

  <h4 class="modal-title"
      id="modal-basic-title">Do you really wan't to delete this course?</h4>

  <br>
  <div class="modal-footer">
    <button type="button"
            class="btn btn-outline-dark"
            aria-label="Close"
            (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">Close</span>
    </button>

    <button type="button"
            class="btn btn-outline-dark"
            (click)="modal.close('Save click')">Delete</button>
  </div>

</ng-template>
