<section class="item.rectangle">
  <div class="form-row">
    <div class="form-group col-md-11">Courses</div>
  </div>
</section>
<section class="course-list">
  <div class="form-row">
    <div class="form-group col-md-6">
      <input type="text"
             class="form-control"
             placeholder="Text to search"
             aria-label="Text to search"
             aria-describedby="basic-addon1"
             [(ngModel)]="this.titleFilter"
             (ngModelChange)="this.onChange($event)">
    </div>
    <!-- <div class="form-group col-md-1">
      <button type="button"
              class="btn btn-outline-success"  (click)="search()">Search</button>
    </div>
    <div class="form-group col-md-4">
    </div> -->

  </div>
  <div class="form-row">

    <div class="form-group col-md-10"
         *ngIf="this.courseItems.length > 0">
        <app-list-item *ngFor="let item of this.courseItems"
                     [todoItem]="item"
                     (removeItem)="this.removeItem($event)"
                     [ngClass]="calculateClass(item)">
      </app-list-item>
    </div>
    <div class="form-group col-md-10"
         *ngIf="this.courseItems.length == 0">
      <p> NO DATA AVAILABLE</p>
    </div>


  </div>

</section>
<ngx-spinner></ngx-spinner>